@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --nav-bg-color: #080808;
  --nav-font-color: #CCCCCC;
  --nav-btn-hover-color: var(--nav-bg-color);
  --root-bg-color: var(--nav-bg-color);
  --root-font-color: var(--nav-font-color);
  --logo-en-font: "Dancing Script", sans-serif, system-ui;
  --arabic-font: "IBM Plex Sans Arabic", sans-serif, system-ui;
  --english-font: Roboto, sans-serif, system-ui;
  --post-count-font: Montserrat, sans-serif, system-ui;
  --quote-font: Amiri, sans-serif, system-ui;
}
body {
  background-color: var(--root-bg-color);
}
body * {
  font-family: var(--arabic-font), sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px dashed red; */
}
button {
  background-color: transparent;
  border: none;
  transition: all 0.3s;
  font-weight: 600;
  padding: 5px 10px;
  font-size: 16px;
  color: var(--nav-font-color);
}

button:hover {
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
nav {
  background-color: var(--nav-bg-color);
  padding: 10px 30px;
  color: var(--nav-font-color);
}
nav .logo {
  font-size: 24px;
  font-weight: bold;
}
.logo {
  color: var(--nav-font-color);
  font-family: var(--logo-en-font) !important;
  font-weight: bolder;
  font-size: 30px;
}
nav ul {
  list-style-type: none;
}
.posts {
  padding: 30px;
  display: flex;
  gap: 20px;
  background-color: var(--nav-btn-hover-color);
  overflow-x: auto;
  border-bottom: 1px solid #333;
  width: 100%;
}
body.Arabic .posts {
  flex-direction: row-reverse;
}
.post {
  color: white;
  border-image: linear-gradient(45deg, #f6bd00 0%, #e82243 60%, #c200b5 100%) 1;
  border-radius: 12px;
  border-width: 3px;
  border-style: solid;
  transition: all 0.3s;
  position: relative;
  padding: 10px 20px;
  width: 240px;
  min-width: 240px;
  height: 90px;
  max-height: 90px;
  background-color: var(--root-bg-color);
}
.post:hover {
  background-color: var(--root-bg-color);
  cursor: pointer;
}
.post .post-year {
  position: absolute;
  top: -15px;
  right: 15px;
  background: linear-gradient(to top, #f7000c, #ff6068);
  padding: 2px 10px;
  font-size: 16px;
  font-weight: bold;
  transform: skewX(-5deg);
  border-radius: 7px;
  font-family: Roboto !important;
}
.post .post-count {
  position: absolute;
  top: -10px;
  left: -15px;
  transform: skewX(-2deg);
  background-color: #0068b5;
  font-family: var(--post-count-font) !important;
  font-weight: bolder;
  font-style: italic;
  padding: 5px;
  font-size: 16px;
}
.post .post-duration {
  font-weight: bold;
  color: var(--nav-font-color);
  font-size: 18px;
}
.post .post-summary {
  font-weight: thin;
  font-size: 12px;
}
body.Arabic .post * {
  text-align: right;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--root-font-color);
}
#root .counter {
  font-size: 20px;
  position: relative;
  font-weight: bold;
}
body.Arabic #root {
  text-align: right;
}
#root .content .text-box {
  margin-bottom: 100px;
}
#root .content .text-box div {
  width: 100%;
  text-align: center;
}
#root .content .text-box p {
  font-weight: 450;
}
#root .content .text-box h3 {
  font-weight: 450;
  color: #e4e4e4;
}
#root .content .text-box img {
  margin-bottom: 80px;
}
#root .content .text-box .quote-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 8px double #e3e3e3;
  margin: 50px 0;
  background-color: #29334d;
  padding: 20px 0px;
  width: 80%;
  /* width: min(80%, 500px); */
  text-align: center !important;
}
#root .content .text-box .quote-box p.post-quote q {
  text-wrap: pretty;
  font-size: 24px;
  font-family: var(--quote-font) !important;
}
#root .content .text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.small-img {
  margin-top: 10px;
}
p.post-quote {
  /* font-style: italic; */
  text-wrap: pretty;
  font-size: clamp(1rem, calc(7vw + 2rem), 2rem) !important;
  quotes: "“" "”";
  
}
p.count {
  font-weight: 240;
  font-size: 12px !important;
  font-style: italic;
  color: #e3e3e3;
  text-align: center;
}
.goals {
  padding: 20px 0;
  color: white;
  width: min(80%, 600px);
  background-color: var(--nav-bg-color);
  display: flex;
  flex-direction: column;
}
.goal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 15px 0;
}
.loading {
  width: 90%;
  position: relative;
  height: 20px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 8px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45) inset;
}
.progress-bar {
  height: 100%;
  background: linear-gradient(200deg, #f6bd00 0%, #e82243 60%, #c200b5 100%);
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45) inset;
}
.progress-value {
  position: absolute;
  top: 23px;
  font-weight: 450;
}
