@media (min-width: 1000px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }
/* 
  * {
    border: 1px dashed red;
  } */
  .btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 10px;
  }
  nav .nav-items img {
    width: 30px;
    height: 30px;
  }
  nav {
    width: 250px;
    min-width: 200px;
    max-width: 200px;
    text-align: right;
    border-left: 1px solid #555;
    min-height: 100dvh;
    position: fixed;
    right: 0;
  }
  main {
    margin-right: 200px;
    width: calc(100dvw - 200px);
  }
  nav .logo {
    position: absolute;
  }
  nav .nav-items {
    position: absolute;
    right: 10px;
    top: 100px;
  }
  nav ul li span {
    margin: 0 20px;
  }
  nav ul {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }
  .hidden-l {
    display: none;
  }
  #root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .text-box {
    width: 100%;
  }
  .quote-box {
    width: 80%;
  }
  p.post-quote, p.post-quote q {
    width: 100%;
  }
  #root .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #root .content .text-box {
    padding: 10px 40px;
    font-size: 18px;
  }
  #root .content .text-box div {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  #root .content .text-box img{
    width: 100%;
    max-width: 1000px;
  }
  #root .content .text-box img.small-img {
    width: min(80%, 550px);
  }

  .weekly-progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px !important;
  }
  
  .chart {
    position: relative;
  }
  
  .chart .drawing {
    display: flex;
    height: 220px;
    width: 400px;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
  }
  
  .chart .drawing .day {
    width: 8% !important;
    background: linear-gradient(45deg, #f6bd00 0%, #e82243 60%, #c200b5 100%);
    border-bottom: none;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.45) inset;
    margin-bottom: 0 !important;
  }
  
  .chart .x {
    position: absolute;
    bottom: -35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .chart .x p {
    font-size: 12px;
    transform: skewY(14deg);
  }
  
  .chart .y {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: -25px;
    justify-content: space-between;
    top: 0;
    height: 220px;
    text-align: left !important;
  }
  
  h1.weekly-text {
    position: absolute;
    top: -75px;
    left: -25px;
  }
  
  span.total-hours {
    position: absolute;
    top: -55px;
    right: 0;
    font-weight: bold;
    font-size: 14px;
  }
}