@media (max-width: 760px) {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--story-border-color);
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    color: var(--font-color);
  }
  .hidden-m {
    display: none;
  }
  nav {
    position: fixed;
    bottom: 7px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(250px, 67%);
    min-height: 50px;
    height: 50px;
    max-height: 50px;
    border-radius: 25px;
    z-index: 999;
    background-color: var(--story-background-color);
  }
  nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  nav .nav-items {
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  nav .nav-items img {
    width: 25px;
    height: 25px;
  }
  nav {
    flex-direction: row-reverse;
    text-align: right;
  }
  body.Arabic nav ul {
    flex-direction: row-reverse;
  }
  #posts {
    margin-top: 80px;
  }
  #posts .post {
    text-align: right;
  }
  #root {
    width: 100dvw;
    padding: 20px 0 !important;
    padding-top: 50px !important;
  }

  #root section {
    width: 100%;
    max-width: 100%;
    padding: 20px 0 !important;
  }

  #root section :is(:not(img)) {
    padding: 0 25px !important;
  }

  h1,h2,h3,h4,h5,h6 {
    padding: 10px;
  }

  #root img.long-image {
    width: 100% !important;
  }

  #root section img {
    width: 100% !important;
    object-fit: cover;
  }
  main {
    width: 100%;
  }
  h1 {
    font-size: 1.4em !important;
  }
  h2 {
      font-size: 1.2em !important;
  }
  h3 {
      font-size: 1em !important;
  }
  h4 {
      font-size: 0.8em !important;
  }
  h5 {
    font-size: 0.6em !important;
  }
  h6 {
    font-size: 0.4em !important;
  }
  p {
    font-size: 16px;
    line-height: 1.75;
  }
  ul li {
    font-size: 12px;
  }
}