::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}
::-webkit-scrollbar-track {
  background: var(--background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--story-border-color);
  border-radius: 12px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--font-color); 
}
::-webkit-scrollbar-corner {
  background: #f1f1f1;
}