/* The page content font family */
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Arabic:wght@100..800&display=swap");

/* Week counter font family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Quotes font */
@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");

/* Code font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

@import url("./themes.css");
@import url("./animation.css");
@import url("./makeup.css");
@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Reset everything inside .not-prose */
.not-prose * {
  all: revert;
}

/* Code blocks */
.not-prose pre {
  padding: 1.5rem 2rem;
  background: linear-gradient(30deg, #ffffff00, #ffffff33);
  backdrop-filter: blur(10px);
  color: #f3f5ff;
  border-radius: 14px;
  font-family: "Fira Code", monospace;
  overflow-x: auto;
  font-weight: 600;
  text-align: left;
  border: 2px solid #ffffff20;
  box-shadow: 0 2px 24px rgba(0, 0, 0, 0.3) inset;
}

/* Inline code */
.not-prose code {
  /* padding: 0.1rem 0.3rem; */
  font-family: "Fira Code", monospace;
}

/* Tables */
.not-prose table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.not-prose th,
.not-prose td {
  border: 1px solid #ccc;
  padding: 0.5rem 1rem;
  text-align: left;
}

.not-prose th {
  background-color: #262f95;
  font-weight: bold;
  color: #ddd;
}

.not-prose tr > :nth-child(1) {
  background-color: #262f95;
  font-weight: bold;
  color: #ddd;
}

/* Blockquotes */
.not-prose blockquote {
  padding: 10px 0;
  color: #e3e3e3;
  border-radius: 12px;
  background-color: #111;
  font-style: italic;
  margin: 1.75rem 0;
}

.not-prose.rtl blockquote {
  border-right: 5px solid #6471ff !important;
  border-left: none !important;
  padding-right: 1.25rem !important;
  padding-left: 0 !important;
  font-family: "Amiri Quran", sans-serif, system-ui;
  font-size: 20px;
}

.not-prose.ltr blockquote {
  border-left: 5px solid #6471ff !important;
  border-right: none !important;
  padding-left: 1.25rem !important;
  padding-right: 0 !important;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Horizontal rules */
.not-prose hr {
  border-top: 1px solid #ccc;
  margin: 2rem 0;
  opacity: 0.5;
  border-style: solid;
}

/* Headings */
.not-prose h1 {
  font-size: 1.75rem;
  font-weight: bold;
  margin: 1rem 0;
}
.not-prose h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.8rem 0;
}
.not-prose h3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0.6rem 0;
}

/* Lists */
.not-prose ul {
  list-style-type: disc;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}
.not-prose ol {
  list-style-type: decimal;
  padding-left: 1.5rem;
  margin: 0.5rem 0;
}
.not-prose li {
  margin-bottom: 0.25rem;
}

/* Images */
.not-prose img {
  max-width: 100%;
  border-radius: 8px;
  margin: 1rem 0;
}

body,
html {
  background: var(--html-color);
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Playpen Sans Arabic", sans-serif;
}

html,
* {
  direction: rtl;
}

[dir="ltr"] {
  direction: ltr !important;
}

form textarea {
  resize: none;
  min-height: 180px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 80%;
  font-family: var(--font);
}

.stories a.active {
  transition: all 200ms;
  position: relative;
  transform: scale(1.025);
}

.stories a.active::before {
  position: absolute;
  content: "👀";
  top: 8px;
  left: 6px;
}

.counter {
  font-family: Montserrat, sans-serif;
}

@media (min-width: 768px) {
  .post img {
    max-height: calc(100dvh - 200px);
  }
}

@media (max-width: 768px) {
  .post img {
    max-height: 400px;
  }
}

.stories::-webkit-scrollbar {
  width: 5px;
}

.year {
  font-family: Montserrat, sans-serif;
  /* transform: skewX(-5deg); */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}
::-webkit-scrollbar-thumb {
  background: rgba(200, 200, 200, 0.3);
  border-radius: 14px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.25);
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.stories::-webkit-scrollbar-track {
  background: transparent;
}

iframe {
  pointer-events: none;
  cursor: none;
  width: 720px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  user-select: none;
}

.shorts iframe {
  aspect-ratio: 9 / 16 !important;
  height: calc(100dvh - 200px);
  width: auto !important;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  max-width: 100%;
}

td,
th {
  padding: 10px 20px;
}

td {
  text-align: center;
}

/* .post:not(:has(img)) {
  min-width: 350px;
  max-width: 100% !important;
} */

/* .post.special::before {
  position: absolute;
  top: -14px;
  right: 20px;
  width: 50px;
  height: 28px;
  background-color: #4b4a4f;
  border-color: #807741;
  border-width: 2px;
  content: "✨";
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .post.secret {
  border-width: 2px;
} */

/* .post.secret::before {
  position: absolute;
  top: -14px;
  right: 20px;
  width: 50px;
  height: 28px;
  background-color: #343c6e;
  border-width: 2px;
  border-color: #5d658c;
  content: "🔒";
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
} */
