/* The page content font family */
@import url("https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap");

/* Week counter font family */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Quotes font */
@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap");

/* Code font */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* @import url("./themes.css"); */
@import url("./markdown.css");
@import "tailwindcss";

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bg-color: #1a1b26;
  --darker-bg-color: #101520;
  --font-color: #c1caf5;
  --accent-color: #7aa2f7;
  --border-color: #414868;
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: var(--bg-color);
  color: var(--font-color);
  box-sizing: border-box;
  /* font-family: "Playpen Sans Arabic", sans-serif; */
  font-family: "Zain", sans-serif;
}

html,
* {
  direction: rtl;
}

[dir="ltr"] {
  direction: ltr !important;
}

.redis {
  direction: ltr !important;
}

.icons a {
  border-bottom-color: var(--border-color);
}

form textarea {
  resize: none;
  min-height: 120px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 80%;
  font-family: var(--font);
}

.stories a.active {
  transition: all 200ms;
  transform: scale(1.025);
  border-bottom: 2px solid;
}
/* 
a.active p {
  background-color: var(--font-color);
  color: var(--bg-color);
  padding: 3px 8px;
} */

.counter {
  font-family: Montserrat, sans-serif;
}

@media (min-width: 768px) {
  .post img {
    max-height: calc(100dvh - 200px);
  }
}

@media (max-width: 768px) {
  .post img {
    max-height: 400px;
  }
}

.stories::-webkit-scrollbar {
  width: 5px;
}

.year {
  font-family: Montserrat, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  background: var(--bg-color);
}
::-webkit-scrollbar-thumb {
  background: var(--font-color);
  border-radius: 12px;
}

.stories::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

.stories::-webkit-scrollbar-thumb {
  background: var(--accent-color);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.25);
}

.slider::-webkit-scrollbar-track {
  background: transparent;
}

.stories::-webkit-scrollbar-track {
  background: transparent;
}

iframe {
  pointer-events: none;
  cursor: none;
  width: 720px;
  max-width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  user-select: none;
}

.shorts iframe {
  aspect-ratio: 9 / 16 !important;
  height: calc(100dvh - 200px);
  width: auto !important;
}

table {
  border-collapse: collapse;
  letter-spacing: 1px;
  font-size: 0.8rem;
  max-width: 100%;
}

td,
th {
  padding: 10px 20px;
}

td {
  text-align: center;
}
