@keyframes starsFloat {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -800px;
  }
}

.bg-stars {
  background-image:
    /* tiny stars */
    radial-gradient(
      1px 1px at 10% 20%,
      rgba(255, 255, 255, 0.6) 0,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 25% 60%,
      rgba(255, 255, 255, 0.5) 0,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 40% 30%,
      rgba(255, 255, 255, 0.6) 0,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 55% 80%,
      rgba(255, 255, 255, 0.5) 0,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 70% 15%,
      rgba(255, 255, 255, 0.6) 0,
      transparent 100%
    ),
    radial-gradient(
      1px 1px at 90% 50%,
      rgba(255, 255, 255, 0.5) 0,
      transparent 100%
    ),
    /* medium stars */
    radial-gradient(
        2px 2px at 20% 40%,
        rgba(255, 255, 255, 0.6) 0,
        transparent 100%
      ),
    radial-gradient(
      2px 2px at 45% 65%,
      rgba(255, 255, 255, 0.5) 0,
      transparent 100%
    ),
    radial-gradient(
      2px 2px at 80% 30%,
      rgba(255, 255, 255, 0.6) 0,
      transparent 100%
    );

  background-size: 400px 400px;
  animation: starsFloat 40s linear infinite;
}

.bg-stars-glow {
  background-image:
    radial-gradient(
      2px 2px at 15% 35%,
      rgba(250, 204, 21, 1) 0,
      transparent 100%
    ),
    radial-gradient(
      3px 3px at 40% 60%,
      rgba(250, 204, 21, 1) 0,
      transparent 100%
    ),
    radial-gradient(
      2px 2px at 65% 25%,
      rgba(250, 204, 21, 1) 0,
      transparent 100%
    ),
    radial-gradient(
      3px 3px at 85% 45%,
      rgba(250, 204, 21, 1) 0,
      transparent 100%
    );

  background-size: 600px 600px;
  animation: starsFloat 80s linear infinite;
}
